{% extends 'studhack/base.html' %}

<!-- Page content-->
{% block content%}
{% for task in tasks %}
<div class="container">
    <div class="text-left mt-5">
        <h1> {{ task.task_name }} </h1>
        <p class="lead">Task is provided by {{task.expert}}</p>
        <p> Breif Description: {{task.brief_descr}} </p>
        <p><img  src="{{task.photo.url}}"></p>
        <button type="button" class="collapsible">View teams</button>
        <div class="content">
          <table class="table">
              
              {%for team in teamsquery.pop%}
                <tr><th>{{team.id}}</th><th>{{team.team_name}}</th><th>Dummy Text</th></tr>
              {%endfor%}
  
          </table>
        </div>
        <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p> -->
        <p></p>
    </div>

</div>
{% endfor %}
<script>
  var coll = document.getElementsByClassName("collapsible");
  var i;
  
  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }
</script>
  
{% endblock %}